
/* override default text color */
body,
.anchor span,
.sidebar > h1 a,
.sidebar ul li > a {
    color: #232323;
}

/* make sidebar active item marker thicker */
.sidebar ul li.active > a {
    border-right: 4px solid;
}

/* code blocks inside block quotes should not be bolded */
.markdown-section blockquote p code {
    font-weight: normal;
}

/* custom footer styling */
.footer {
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 75%;
    line-height: 0.5rem;
    border-radius: 6px;
}

.footer p {
    padding-right: 1rem;
    padding-left: 1rem;
}

.footer a {
    color: #336600;
}
